td.table_holder{
    padding:0;
}

.remove_things{
padding:0;
padding-top:0 !important;
padding-bottom:0 !important;
vertical-align: middle;
height:100%;
}
.remove_things button{
    width:100%;
    height:100%;
}